// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #27ae60;
      .navbar-brand {
      color: #fff;
      }
}

.navbar-default .navbar-nav {
    li a {
    color: #FFF;
    }
}

.tweet {
    border-top: 4px solid #A3ECBA;
    border-bottom: 4px solid #A3ECBA;
    padding: 10px 20px;
    margin-bottom: 10px;
    
  img {
  float: left;
  margin-right: 10px;
  }
}
  
  .body {
    font-size: 18px;
    line-height: 24px;
  }
  
  .email {
  }

  .time {
  
  }